<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- There is one defined section group called Scryber, and then multiple sections with their own factory.
       This limits the dependencies on assembly referencing whilst keeping everything together --><configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <sectionGroup name="scryber">
      <section name="tracing" type="Scryber.Configuration.TracingConfigurationSection, Scryber.Configuration, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe" />
      <section name="fonts" type="Scryber.Configuration.FontsConfigurationSection, Scryber.Configuration, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe" />
      <section name="imaging" type="Scryber.Configuration.ImagingConfigurationSection, Scryber.Drawing, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe" />
      <section name="generation" type="Scryber.Configuration.GenerationConfigurationSection, Scryber.Configuration, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe" />
      <section name="rendering" type="Scryber.Configuration.RenderOptionsConfigurationSection, Scryber.Configuration, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe" />
    </sectionGroup></configSections>
  <connectionStrings>
    <add name="AlphaElectricEntitiesDB" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EX-OPESA-C50;initial catalog=AlphaElectric;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
<!-- See the Scryber configuration guide https://www.scryber.co.uk/HowTo/tabid/133/Default.aspx?topic=Scryber+Configuration for more information about these sections and
       their effect on the output 
       
       tracing section defines the level and location of the trace logs
       
       fonts section allows more than the 16 standard fonts to be included in PDF files and explict mappings to font files. Currently scryber only supports open-type (ttf) fonts.
       
       imaging section allows for different image types to be handled explicitly (or custom image factories to be added).
       
       generation section handles how the xml files are parsed and referencing other components
       
       rendering handles how the final pdf is output and it's settings.
       
       --><!--
  <scryber>
  
    <tracing trace-level="Messages">
      <clear/>
      <log name="WebTraceLog" factory-type="Scryber.Logging.PDFWebTraceLogFactory, Scryber.Common, Version=0.9.0.0, Culture=neutral, PublicKeyToken=872cbeb81db952fe" />
    </tracing>
    
    <fonts use-system-fonts="true" font-substitution="false" >
      <add family-name="Bauhaus 93" font-style="Bold" font-file="[path to file]" />
    </fonts>
    
    <imaging allow-missing-images='true' >
      <imageFactory match-path="[regular expression]" factory-type="[qualified type name]" />
    </imaging>
    
    <generation missing-reference-action="RaiseException">
    <schemaMappings>
      <register xml-namespace="http://schemas.other.scryber.co.uk" runtime-namespace="[Other.Namespace]" runtime-assembly="[Other Assembly Name]" />
      </schemaMappings>
      
    </generation>
    
    <rendering compression-type="FlateDecode" pdf-version="1.5" output-compliance="None" component-name-output="ExplicitOnly" />
    
  </scryber>
  --></configuration>